.listItem {
    padding-left: 15px;
    min-height: 24px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ededed;
}

.listItem a {
    color: #3e3e3e;
    text-decoration: none;
}

.listItem-text {
    font-size: 36px;
    height: 80px;
    line-height: 80px;
}